.box{
  border: 1px solid black;
  width: 500px;
  text-align: center;
  margin: 2em 2em;
}
.item-img{
  width: 400px;
}

.main{
  display: flex;
  justify-content: center;
}
.WIN {
  border: 10px solid green;
}
.LOSE {
  border: 10px solid red;
}
.TIE {
  border: 10px solid black;
}